<div class="container form">
  <br>
  <br>
  <br>
  <h1>Log In</h1>
  <hr>
  <br>
  <%= form_tag sessions_path do %>
  <%= text_field_tag :email, params[:email], class: 'form-control', placeholder: "Email address"  %>
  <br>
  <%= password_field_tag :password, nil, class: 'form-control', placeholder: "Password..." %>
  <br>
  <%= submit_tag "Let me in", class: 'btn btn-success', data: {disable_with: "Logging in..."} %>
  <% end %>

  <p> Don't have an account yet? <%= link_to 'Create one!', new_session_path %> </p>

</div>
