<div class='col-12 col-sm-6'>
  <%= link_to event_path(event) do %>
    <div class="card">
      <%= image_tag event.image.url, class:'card-img-top' %>
      <div class="card-block">
        <h4 class="card-title"> <%= event.name %></h4>
        <h6 class="card-subtitle"> <%= event.place.address %> <br> 
        <%= number_to_currency(event.price, unit: 'VND ', precision: 0) %><br> <%= event.starts_at.strftime("%F")%> ||<%= event.ends_at.strftime("%F") %> </h6>
        
        <%#<p class="card-text"> Description:<%= event.description %> <br>
         <h3> Created by: <%= event.user.first_name.to_s %> <%= event.user.last_name.to_s %></h3>
        </p> 
        
      </div>
    </div>
    <% end%>

</div>