<div class="container">
  <div class="row">
  <% if @events.empty? %>
      <h1>  Sorry,there are no events available, but you can start by <%= link_to "adding a new event", new_event_path, class: 'btn btn-outline-success'%> </h1>
    <% else %>
      <h1>There are currently <%= @events.size %> events available.<br> You can help us by <%= link_to "adding a new event", new_event_path, class: 'btn btn-outline-success'%></h1>
    <% end %>
</div> <%#end row%>


<%#CATEGORIES%>
       <div class="btn-group" role="group">
    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Categories
    </button>
          <div class="dropdown-menu"aria-labelledby="btnGroupDrop1">
            <% @category.each do |category|%>
            <%= link_to category.name, events_path(category_id: category.id), class:"dropdown-item btn #{params[:category_id] == category.id.to_s ? 'btn-primary' : 'btn-secondary' }" %>
          <% end %>
          </div>
        </div>



        
        <div class="row">
        <% if @current_category %>
    <% @current_category.events.each do |g| %>
      <%= render partial: 'card', locals: {event:g} %>
      <% end %>
    <% else @events.each do |g| %>
      <% @events.each do |g| %>
      <%= render partial: 'card', locals: {event:g} %>
    <% end %>
      <% end %>
    <% end %>
    
  </div>
</div>


