<div class="container"> 
  <%= link_to 'Back', events_path,class:"btn btn-primary btn-sm"%>
  <%= link_to 'Edit', edit_event_path ,class:"btn btn-info btn-sm"%>




  <div class="event-container">
    <div class="row">
      <div class="col-12 col-lg-6">

        <img src="<%= @event.image[0].url %>" alt="">
      </div> <!-- end first col -->
      <div class="col-12 col-lg-6">
        <h1> <%= @event.name %></h1>
        <h3> Created by: <%= @event.user.first_name.to_s %> <%= @event.user.last_name.to_s %></h3>
        <p> Date: <%= @event.starts_at %> || <%= @event.ends_at %> </p>
        <p> Location: <%= @event.place.address %> </p>
        <p> Price: <%= number_to_currency(@event.price, unit: 'VND ', precision: 0) %> </p>


        <iframe
           frameborder="0" style="border:0"
                           src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDIsg0eCEGjTAi7K-fk_3V13ZUa4fPf6qI&q=<%= @event.place.address.tr(" ","+")%>,ho+chi">
        </iframe>

      </div> <!-- end second col-->
    </div> <!-- end first row-->
    <div class="row"> 
      <% @event.image.each do |image| %>
      <div class="col-6 col-lg-3">
        <img src="<%= image.url %>" alt="">
      </div>
      <% end %>
    </div> <!-- end row w images -->

    <div class="row">
      <div class="col-12">
        <p> <%= @event.description %> </p>
      </div>

    </div> <!-- end row-->
    <div class="row">
      <div class="col-12">

      </div>


    </div> <!-- end third row-->



  </div> <!-- end event container -->






  <!-- CREATE COMMENTS -->
  <% if current_user %>
  <div class="card" id='comment-form-card'>
    <%= form_for([@event,@event.comments.build]) do |f| %>

    <div class="card-title">
      <p><%= f.text_field :first_name, :value => current_user.first_name.to_s,:readonly => true , size: current_user.first_name.size.to_i %>  <%= f.text_field :last_name, :value => current_user.last_name.to_s, :readonly => true, size: current_user.last_name.size.to_i%> </p>
    </div> <!-- end card title -->
    <div class="card-description">
      <%= f.label :body %>
      <%= f.text_area :body, class:'form-control' %>
      <%= f.submit 'Post comment', class:'btn btn-primary' %>
    </div>
    <% end %> <!-- end form-->
  </div> <!-- end card -->
  <% else %>
  <%= link_to 'To comment, please log in', new_session_path %>

  <% end %> <!-- end if -->



  <!-- DISPLAY COMMENTS -->
  <div class="row no-gutters">
    <!-- error in displaying comments, alwasy have empty card -->

    <% @comments.each do |comment| %>
    <div class="card col-12 card-block comment-display-card">
      <div class="card-title">
        <h6> <%= comment.first_name %> <%= comment.last_name %></h6>
        <hr>
      </div>
      <div class="card-description">
        <p><%= comment.body %> </p>
      </div>
    </div>
    <% end %>
  </div> <!-- end row -->



</div> <!-- end container -->
