<div class="container"> 
<%= link_to 'Back', events_path,class:"btn btn-primary btn-sm"%>
<%= link_to 'Edit', edit_event_path,class:"btn btn-info btn-sm"%>
<div class="event-details">
  <h1> <%= @event.name %></h1>
  <%# CHANGE TO DISPLAY NAME F AUTHOR AND NOT ID%>
  <h3> Created by: <%= @event.user.first_name.to_s %> <%= @event.user.last_name.to_s %></h3>
  <p> Date: <%= @event.starts_at %> || <%= @event.ends_at %> </p>
  <p> Location: <%= @event.place.address %> </p>
  <p> Price: <%= number_to_currency(@event.price, unit: 'VND ', precision: 0) %> </p>
</div>
  <img src="<%= @event.image %>" alt="">
  <div class="event-description">
    <p> <%= @event.description %> </p>
  </div>


<!-- CREATE COMMENTS -->
<% if current_user %>
  <%= form_for([@event,@event.comments.build]) do |f| %>
  <div class="form-group">
    <%= f.label :first_name%>
    <%= f.text_field :first_name, :value => current_user.first_name.to_s,class:'form-inline',:readonly => true %>
  </div>
  <div class="form-group">
    <%= f.label :first_name %>
    <%= f.text_field :last_name, :value => current_user.last_name.to_s, class:'form-inline', :readonly => true%>
  </div>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class:'form-control' %>
  </div>
    <%= f.submit %>
  <% end %> <!-- end form-->

<% else %>
  <%= link_to 'To comment, please log in', new_session_path %>
<% end %> <!-- end if -->



<!-- DISPLAY COMMENTS -->
<div class="row">
<% unless @comments.any? %>
      <p> No comments </p>
<% else %>        
      <% @comments.each do |comment| %>
      <div class="card col-12 card-block">
      <div class="card-title">
        <p> <%= comment.first_name %> <%= comment.last_name %></p>
      </div>
        <div class="card-description">
          <%= comment.body %>
        </div>
      </div>
        <% end %>
<% end %>
</div> <!-- end row -->



</div>