<div class='col-12 col-lg-6'>
  <%= link_to place_path(place) do %>
    <div class="card">
      
      <%= image_tag place.image[0].url,class:'card-img-top' %>
      <div class="card-block">
        <h1 class="card-title"> <%= place.name %></h1>
        <h6 class="card-subtitle"> <%= place.address %> <br> <%= place.opening_hours.strftime("%H : %M") %> || <%= place.closing_hours.strftime("%H : %M") %> </h6>
      </div>
    </div>
    <% end%>

</div>