<div class='col-12 col-lg-6'>
  <%= link_to place_path(place) do %>

  <div class="card">
    <img class="card-img-top" src="<%= place.image[0].url %>">
    <div class="card-block">
      <h4 class="card-title"> <%= place.name %></h4>
      <h6 class="card-subtitle">
        Address:
        <%= place.address %>
        <br>
        Opening Hours:
        <%= place.opening_hours.strftime("%H:%M") %> - <%= place.closing_hours.strftime("%H:%M") %>
      </h6>
      <br>
      <p class="card-text">
      <%= place.description %>
      </p>

    </div> <!-- end card-block -->
  </div> <!-- end card-->
  <% end%>
</div> <!-- end col -->
