<h1>THIS FORM IS TO CREATE AND EDIT PLACES</h1>

<%= form_for @place, html: { multipart: true } do |f| %>  
<% if @place.errors.any? %>
  <div>
  <h2><%= pluralize(@place.errors.count,"error")%> prohibited this place from being saved:</h2>
  <ul>
    <% @place.errors.full_messages.each do |message|%>
    <li> <%= message %> </li>
    <% end %>
  </ul>
</div>
<% end %>


<div class="field">
  <%= f.label :name%>
  <%= f.text_field :name,:required => true%>
</div>
<div class="field">
  <%= f.label :address%>
  <%= f.text_area :address,:required => true %>
</div>
<div class="field">
  <%= f.label :opening_hours%>
  <%= f.time_field :opening_hours%>
</div>
<div class="field">
  <%= f.label :closing_hours%>
  <%= f.time_field :closing_hours%>
</div>
<div class="field">
  <%= f.label :description %>
  <%= f.text_area :description%>
</div>
<div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
    <% if f.object.image? %>
      <%= image_tag f.object.image.url %>
      <%= f.label :remove_image %>
      <%= f.check_box :remove_image %> 
    <% end %>
</div>
<div class="actions">
  <%= f.submit %>
</div>

<% end %>