<div class="container">


<h1>Here you can create and edit places </h1>

  
<% if @place.errors.any? %>
  <div class='row'>
  <div class="col-12">
    <h2><%= pluralize(@place.errors.count,"error")%> prohibited this place from being saved:</h2>
    <ul>
      <% @place.errors.full_messages.each do |message|%>
      <li> <%= message %> </li>
      <% end %>
    </ul>
  </div> <!-- end row -->
  </div> <!-- end col -->
<% end %>

<%= form_for @place, html: { multipart: true } do |f| %>
<div class='form-group'>
  <%= f.label :name%>
  <%= f.text_field :name,:required => true, class: 'form-control'%>
</div>
<div class='form-group'>
  <%= f.label :address%>
  <%= f.text_area :address,:required => true, class: 'form-control'%>
</div>
<div class='form-group form-inline'>
  <%= f.label :opening_hours%>
  <%= f.time_field :opening_hours, class: 'form-control',:required => true%>
</div>
<div class='form-group form-inline'>
  <%= f.label :closing_hours%>
  <%= f.time_field :closing_hours, class: 'form-control',:required => true%>
</div>
<div class='form-group'>
  <%= f.label :description %>
  <%= f.text_area :description, class: 'form-control'%>
</div>
<div class='form-group'>
    <%= f.label :image %><br>
    <%= f.file_field :image, class: 'form-control', multiple: true %>
    <%#  DISPLAY EACH IMAGE AND TICK TO REMOVE ALL, unfortunately cannot remove single image %>
      <% if f.object.image? %>
        <% f.object.image.each do |ff| %>
          <%= image_tag ff.url %>
        <% end %>
          <%#<%= f.label :remove_image %>
          <%#<%= f.check_box :remove_image %>
      <% end %>

    <%#%>
      
    
</div>
<div class="form-group">
  <%= f.submit 'Submit',class: 'btn btn-outline-success' %>
</div>

<% end %>

</div> <!-- end container --->