<nav class="navbar navbar-toggleable-md navbar-inverse " style="background-color: #212121;">
  <a class="navbar-brand" href="/">
  <img src="<%= logo_image_url %>" width="35" height="35" alt="FamTime">
    FamTime
  </a>
  <ul class="nav navbar-nav">
    <% if current_user %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= current_user.first_name %>
        </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item disabled">Signed in as<br><strong><%= current_user.email %></strong><hr></a> 
          <%= link_to "Logout", log_out_path, method: "delete" , class: "dropdown-item" %>
          <%= link_to "Profile Settings", user_path(id: current_user.id), class: "dropdown-item" %>
        </div>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to "Sign Up", new_user_path, class: "nav-link" %>
      </li>

      <li class="nav-item">
        <%= link_to "Login", new_session_path, class: "nav-link" %>
      </li>
    <% end %>
    <li class="nav-item">
        <%= link_to "Places", places_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
        <%= link_to "Events", events_path, class: "nav-link" %>
    </li>
    <% if current_user %>
    <li class="nav-item">
      <%= link_to "My Events",show_mine_events_path, class: "nav-link" 	 %>
    </li>
    <% end %>
  </ul>
</nav>

